@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #ff64ff, #330a33);
    }

    main#loginform {
        width: 80vw;
        height: 60vh;
    }

    div#loginimage {
        float: left;
        height: 100%;
        width: 30%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    div#form {
        float: right;
        height: 100%;
        width: 70%;
    }

    h1#formtitle {
        font-size: 2.25em;
    }

    p#formtext {
        font-size: 1.35em;
    }

}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #ff64ff, #330a33);
    }

    main#loginform {
        width: 950px;
        height: 60vh;
    }

    div#loginimage {
        float: right;
        height: 100%;
        width: 50%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }

    div#form {
        float: left;
        height: 100%;
        width: 50%;
    }

    h1#formtitle {
        font-size: 2.25em;
    }

    p#formtext {
        font-size: 1.35em;
    }

}